
body {
    margin: 0;
    height:100%;
    background-image: url("images/body.png");
}

p {
    margin-left: 1em;
    width: 50%;
    font-size: 25px;
}

header {
    border-bottom: 2px solid coral;
    background-image: url("images/header.png");
    padding: 10px;
    width: 100%;
}

h1 {
    margin-left: 1em;
    font-size: 30px;
}

input[type=text] {
    font-size: 25px;
    width: 980px;
    padding: 12px 20px;
    margin-left: 1em;
    margin-top: 1em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

footer {
    background-color: palegoldenrod;
    padding: 2em;
    width: 100%;
    bottom: 0;
    position:fixed;
    border-top: 2px solid gray;
}